<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
  <a class="navbar-brand" href="{{ url_for('dashboard') }}">ExpenseTracker</a>
  {% if session.user_id %}
    <a href="{{ url_for('logout') }}" style="color:#f0f0f0;">Logout</a>
  {% endif %}
</nav>


<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info">{{ messages[0] }}</div>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</div>
<footer>
  <p>BUILT BY MOHAMMED AKEEF FAROOQI</p>
  <p><a href="https://www.instagram.com/akeef_farooqi7/" target="_blank">
    <img src="{{ url_for('static', filename='insta_icon.png') }}" width="23"> Akeef_farooqi7
  </a></p>
  <p>Support: <a href="mailto:mf.akeef@gmail.com">mf.akeef@gmail.com</a></p>
</footer>
<script src="{{ url_for('static', filename='calculator.js') }}"></script>
</body>
</html>
