{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ session.email }}</h2>

<div class="mb-3">
  <a href="{{ url_for('add_expense') }}" class="btn btn-primary">Add Expense</a>
  <a href="{{ url_for('download') }}" class="btn btn-success">Download Statement</a>
</div>

<h4>This Month: ₹{{ total_month }} | This Year: ₹{{ total_year }}</h4>

<table class="table table-striped table-dark mt-3">
  <thead>
    <tr>
      <th>Country</th><th>Currency</th><th>Category</th><th>Amount</th><th>Description</th><th>Date</th><th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for e in expenses %}
    <tr>
      <td>{{ e[0] }}</td>
      <td>{{ e[1] }}</td>
      <td>{{ e[2] }}</td>
      <td>{{ e[3] }}</td>
      <td>{{ e[4] }}</td>
      <td>{{ e[5] }}</td>
      <td><a onclick="return confirm('Delete this expense?')" href="{{ url_for('delete', id=e[6]) }}" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
